.checkout-side-menu {
    width: 360px;
    height: calc(100vh - 68px);
    top: 68px;
}

/* Webkit */
.no-scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.no-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: grey;
}



